#hospitalsFormContainer
{
  width: auto;

}
#hospitalsFormContainer > .form-control
{
  width: auto;
}

@media (min-width:768px){
  #hospitalsFormContainer
  {
    width: 30%;
  }
  #hospitalsFormContainer > .form-control
  {
    width: 100%;
  }
}

#hospitalsFormContainer .ms-close-btn 
{
  display:none;
}
#hospitalsFormContainer .ms-input-readonly
{
  display:none;
}
#hospitalsFormContainer .ms-input
{
  display:none;
}

.navbar-toggle-left {
  margin-right: 0;
  margin-left: 15px
}

.navbar {
    border-radius: 4px;
}